<div class="full">
  <div id="div-profile"></div>
  <div class="column full profile-equipment">
    <div class="preset"></div>
    <div class="profile-equipment__character">
      <img :src="profiles.CharacterImage" alt="창술사" />
    </div>
    <div class="tab">
      <div>장비</div>
      <div>아바타</div>
    </div>
    <div class="honor_info" v-if="activeTab == 'equipment'">
      <span class="honor_grade" :data-honor-grade="honerGrade(profiles.HonorPoint)">명예</span>
      <span class="honor_point">{{ profiles.HonorPoint }}</span>
    </div>
  </div>
  <div id="div-ability"></div>
</div>
