.lostark-pc .profile-info {
  width: 450px;
  height: 100%;

  padding-bottom: 20px;
}

.lostark-pc .profile-info .level-info {
  height: 300px;

  background: radial-gradient(circle at bottom center, rgba(160, 40, 60, 0.5) 0, #1a1a1a 50%);
  padding: 50px 0;
  position: relative;
}

.lostark-pc .profile-info .level-info .class-img {
  height: 80px;
}

.lostark-pc .profile-info .level-info .class-img .diamond {
  width: 80px;
  height: 80px;

  border: 2px solid rosybrown;
  box-shadow: 0 0 20px rosybrown;
  transform: rotate(45deg);
}

.lostark-pc .profile-info .level-info .class-img .diamond img {
  width: 100px;
  height: 100px;

  transform: rotate(-45deg);
}

.lostark-pc .profile-info .level-info .class-name {
  transform: rotate(0);
}

.lostark-pc .profile-info .level-info .expedition-level-info {
  width: 80px;
  height: 80px;

  position: absolute;
  left: 20px;
  bottom: 50px;
}

.lostark-pc .profile-info .profile-item {
  background: linear-gradient(to right, #1a1a1a, #1f272f, #1a1a1a);
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #1a1a1a, #2f3f4f, #1a1a1a) 1;
}

.lostark-pc .profile-info .guild {
  color: MediumAquamarine;
}

.lostark-pc .profile-info .special-info-slot {
  width: 100%;
  height: 80px;

  gap: 25px;
}

.lostark-pc .profile-info .special-info-slot .slot .slot-img {
  width: 60px;
  height: 60px;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_special_slot.png) no-repeat 0 0;
  background-size: 100%;
}

.lostark-pc .profile-info .special-info-slot .slot .slot-img img {
  width: 50px;
  height: 50px;
}

.lostark-pc .profile-info .arkpassive-title {
  background: linear-gradient(to right, #1a1a1a 20%, #3f1f6f 50%, #1a1a1a 80%);
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #1a1a1a, #cfafff, #1a1a1a) 1;
  color: #ba94ff;
}

.lostark-pc .profile-info .arkpassive-title:before {
  width: 20px;
  height: 20px;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/ico_arkpassive.png) no-repeat 50% 50% / 100% auto;
  content: "";
}

.lostark-pc .profile-info .arkpassive-info {
  height: 100px;
}

.lostark-pc .profile-info .arkpassive-info > div {
  width: 140px;
  height: 100px;
}

.lostark-pc .profile-info .arkpassive-info .point-img {
  align-items: end;
}

.lostark-pc .profile-info .arkpassive-info .point-img .point {
  width: 96px;
  height: 36px;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/pc/profile/bg_arkpassive_point.png) no-repeat 0 0;
  background-size: 100%;
  padding-left: 20px;
}

.lostark-pc .profile-info .arkpassive-info .evolution .point-img .point {
  background-position-y: 0px;
  color: #f2d694;
}

.lostark-pc .profile-info .arkpassive-info .enlightenment .point-img .point {
  background-position-y: -36px;
  color: #83e9ff;
}

.lostark-pc .profile-info .arkpassive-info .leap .point-img .point {
  background-position-y: -72px;
  color: #c2ea55;
}

.lostark-pc .profile-equipment {
  width: 680px;
  height: 100%;

  position: relative;

  padding-bottom: 20px;
}

.lostark-pc .profile-equipment .character-img {
  height: 640px;
}

.lostark-pc .profile-equipment .character-img img {
  width: auto;
  height: 100%;
}

.lostark-pc .profile-equipment .equipment-title {
  position: absolute;
  top: 10px;
  left: 0px;

  padding-left: 5px;
  padding-right: 15px;
  justify-content: space-between;
}

.lostark-pc .profile-equipment .equipment-title .preset-title {
  width: 300px;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  justify-content: start;
}

.lostark-pc .profile-equipment .equipment-title .toggle-detail {
  width: 100px;
  height: 36px;

  background: #2f3f4f;
  border-radius: 40px;
  padding: 6px;
}

.lostark-pc .profile-equipment .equipment-title .toggle-detail.active .search-icon {
  stroke: gold;
}

.lostark-pc .profile-equipment .equipment-title .toggle-detail .toggle-button {
  width: 52px;
  height: 24px;

  position: relative;

  border: 2px solid gray;
  border-radius: 40px;
  background: black;
}

.lostark-pc .profile-equipment .equipment-title .toggle-detail.active .toggle-button {
  border: 2px solid gold;
}

.lostark-pc .profile-equipment .equipment-title .toggle-detail .toggle-button .toggle {
  width: 14px;
  height: 14px;

  position: absolute;
  left: 3px;

  background: gray;
  border-radius: 40px;
  transition: all 0.2s linear;
}

.lostark-pc .profile-equipment .equipment-title .toggle-detail.active .toggle-button .toggle {
  background: gold;
  transform: translateX(28px);
}

.lostark-pc .profile-equipment .equipment-tab {
  width: 350px;

  border: 2px solid gray;
  border-radius: 40px;
}

.lostark-pc .profile-equipment .equipment-tab > div {
  width: 50%;
  height: 100%;

  border-radius: 40px;
}

.lostark-pc .profile-equipment .equipment-tab > div.active {
  background: linear-gradient(to bottom, #1a1a1a 0%, #262524 40%, #3f372f 70%, #6f4f2f 100%);
  color: white;
}

.lostark-pc .profile-equipment .honor-box {
  height: 60px;

  padding-top: 20px;
}

.lostark-pc .profile-equipment .honor-box .honor-info {
  width: 350px;

  background: linear-gradient(to right, #16191d 0%, #1d1e1f 20%, #2f3f4f 50%, #1d1e1f 80%, #16191d 100%);
}

.lostark-pc .profile-equipment .honor-box .honor-info .honor-grade {
  width: 40px;

  background-image: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/ico_honor_symbol.png);
  background-repeat: no-repeat;
  background-size: 500% auto;
}

.lostark-pc .profile-equipment .honor-box .honor-info .honor-grade[data-honor-grade="1"] {
  background-position-y: 0;
}

.lostark-pc .profile-equipment .honor-box .honor-info .honor-title {
  width: 40px;
}

.lostark-pc .profile-equipment .honor-box .honor-info .honor-point {
  width: 30px;
}

.lostark-pc .profile-equipment .honor-box .honor-info .honor-guide {
  width: 30px;
}

.lostark-pc .profile-equipment-slot {
  position: absolute;
  inset: 0;

  pointer-events: none;
}

.lostark-pc .profile-equipment-slot .slot-left {
  position: absolute;
  top: 50px;
  left: 30px;

  pointer-events: auto;
}

.lostark-pc .profile-equipment-slot .slot-right {
  position: absolute;
  top: 50px;
  right: 15px;

  align-items: end;
  pointer-events: auto;
}

.lostark-pc .profile-equipment-slot .slot {
  gap: 10px;
}

.lostark-pc .profile-equipment-slot .slot-right .slot {
  flex-direction: row-reverse;
  justify-content: end;
}

.lostark-pc .profile-equipment-slot .slot-img {
  width: 80px;
  height: 80px;

  position: relative;
}

.lostark-pc .profile-equipment-slot .slot-img:before {
  width: 80px;
  height: 80px;

  position: absolute;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_arkpassive.png) no-repeat;
  background-size: 100%;
  content: "";
}

.lostark-pc .profile-equipment-slot .slot-right .slot .accessory_option > div {
  width: 20px;
  height: 20px;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/ico_accessory_option.png) no-repeat 0 0 / 300% auto;
}

.lostark-pc .profile-equipment-slot .slot-right .slot .accessory_option .item_grade_high {
  background-position-x: 0%;
}

.lostark-pc .profile-equipment-slot .slot-right .slot .accessory_option .item_grade_medium {
  background-position-x: 50%;
}

.lostark-pc .profile-equipment-slot .slot-right .slot .accessory_option .item_grade_low {
  background-position-x: 100%;
}

.lostark-pc .profile-equipment-slot .slot-right .slot.bracelet .slot-img:before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_arkpassive3.png) no-repeat;
  background-size: 100%;
}

.lostark-pc .profile-equipment-slot .slot-right .slot.stone .slot-img:before {
  background: none;
}

.lostark-pc .profile-equipment-slot .slot-right .slot.stone .slot-img img {
  width: 64px;
  height: 64px;
  border: 2px solid gray;
}

.lostark-pc .profile-equipment-slot .slot-right .slot.orb .slot-img:before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_slot_orb_over.png) no-repeat;
  background-size: 100%;
}

.lostark-pc .profile-equipment-slot .slot-right .slot.orb .slot-img img {
  border-radius: 100%;
}

.lostark-pc .profile-avatar-slot {
  position: absolute;
  top: 100px;
  bottom: 180px;
  left: 0px;

  padding: 0 40px;
  pointer-events: none;
  justify-content: space-between;
}

.lostark-pc .profile-avatar-slot > div {
  height: 100%;

  pointer-events: auto;
  justify-content: space-between;
}

.lostark-pc .profile-avatar-slot > div > div {
  gap: 20px;
}

.lostark-pc .profile-avatar-slot .slot-box {
  width: 110px;

  gap: 10px;
  justify-content: start;
}

.lostark-pc .profile-avatar-slot .slot-right .slot-box {
  flex-direction: row-reverse;
  justify-content: end;
}

.lostark-pc .profile-avatar-slot .slot-img {
  width: 50px;
  height: 50px;

  border: 2px solid gray;
}

.lostark-pc .profile-avatar-slot .slot-img img {
  width: auto;
  height: 100%;
}

.level-info2 {
  width: 100%;
  height: 220px;

  padding-top: 5px;
  gap: 5px;
}

.ability-title {
  width: 100%;
  height: 40px;
}

.ability-value {
  height: 45px;
}

.item-level-value {
  height: 85px;
}

.combat-power-value {
  height: 45px;
}

.profile-ability-basic {
  width: 100%;
  height: 130px;
}

.detail-button {
  width: 100%;
  height: 40px;

  background: #2f3f4f;
}

.profile-ability {
  width: 250px;
  height: 100%;

  padding-bottom: 20px;
}
