.profile-info {
  width: 450px;
  height: 100%;
  flex-shrink: 0;

  padding-bottom: 20px;
}

.profile-ability {
  width: 250px;
  height: 100%;
  flex-shrink: 0;

  padding-bottom: 20px;
}

.profile-equipment {
  position: relative;
  padding-bottom: 20px;
}

.profile-equipment__character {
  width: 100%;
  height: 100%;
  flex: 1;
}

.profile-equipment__character > img {
  width: auto;
  height: 100%;
}

.div-bottom {
  width: 100%;
  height: 100px;
  flex-shrink: 0;

  justify-content: space-between;
}

.tab {
  width: 350px;
  height: 40px;
  flex-shrink: 0;

  border: 2px solid gray;
  border-radius: 40px;
}

.tab > div {
  width: 50%;
  height: 100%;
  flex-shrink: 0;

  border-radius: 40px;
}

.tab > div.active {
  background: linear-gradient(to bottom, #1a1a1a 0%, #262524 40%, #3f372f 70%, #6f4f2f 100%);
  color: white;
}

.honor_info {
  width: 350px;
  height: 40px;
  flex-shrink: 0;

  background: linear-gradient(to right, #16191d 0%, #1d1e1f 20%, #2f3f4f 50%, #1d1e1f 80%, #16191d 100%);
}

.honor_grade {
  width: 40px;
  height: 40px;
  flex-shrink: 0;

  background-image: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/ico_honor_symbol.png);
  background-repeat: no-repeat;
  background-size: 500% auto;
}

.honor_grade[data-honor-grade="1"] {
  background-position-y: 0;
}

.honor_text {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.honor_point {
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}

.honor_guide {
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}

.lostark-pc .div-top {
  height: 40px;

  position: absolute;
  top: 10px;
  left: 5px;
  right: 15px;
  justify-content: space-between;
}

.lostark-pc .div-top .preset-title {
  width: 300px;
  height: 100%;

  justify-content: start;
  background: rgba(0, 0, 0, 0.2);
}

.lostark-pc .div-top .toggle-detail {
  width: 100px;
  height: 36px;

  border-radius: 40px;
  background: #2f3f4f;
  padding: 6px;
}

.lostark-pc .div-top .toggle-on .search-icon {
  stroke: gold;
}

.lostark-pc .div-top .toggle-button {
  width: 52px;
  height: 24px;

  border: 2px solid gray;
  border-radius: 40px;
  background: black;
  position: relative;
}

.lostark-pc .div-top .toggle-on .toggle-button {
  border: 2px solid gold;
}

.lostark-pc .div-top .toggle {
  width: 14px;
  height: 14px;

  position: absolute;
  left: 3px;
  background: gray;
  border-radius: 40px;
  transition: all 0.2s linear;
}

.lostark-pc .div-top .toggle-on .toggle {
  transform: translateX(28px);
  background: gold;
}

.lostark-pc .profile-equipment__slot {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.lostark-pc .profile-equipment__slot .slot_left {
  position: absolute;
  top: 50px;
  left: 30px;
  pointer-events: auto;
}

.lostark-pc .profile-equipment__slot .slot_right {
  position: absolute;
  top: 50px;
  right: 15px;
  align-items: end;
  pointer-events: auto;
}

.lostark-pc .profile-equipment__slot .slot_left .slot {
  gap: 10px;
}

.lostark-pc .profile-equipment__slot .slot_right .slot {
  gap: 10px;
  flex-direction: row-reverse;
}

.lostark-pc .profile-equipment__slot .slot_img {
  position: relative;
  width: 80px;
  height: 80px;
}

.lostark-pc .profile-equipment__slot .slot_left .slot_img:before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_arkpassive.png) no-repeat;
  background-size: 100%;
  position: absolute;
  content: "";
  height: 80px;
  width: 80px;
}

.lostark-pc .profile-equipment__slot .slot_right .slot_img:before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_arkpassive2.png) no-repeat;
  background-size: 100%;
  position: absolute;
  content: "";
  height: 80px;
  width: 80px;
}

.lostark-pc div[data-grade="3"] .slot_img img {
  background: linear-gradient(135deg, #261331, #480d5d);
}

.lostark-pc div[data-grade="4"] .slot_img img {
  background: linear-gradient(135deg, #362003, #9e5f04);
}

.lostark-pc div[data-grade="5"] .slot_img img {
  background: linear-gradient(135deg, #341a09, #a24006);
}

.lostark-pc div[data-grade="6"] .slot_img img {
  background: linear-gradient(135deg, #3d3325, #dcc999);
}

.lostark-pc .profile-equipment__slot .accessory_option div {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/ico_accessory_option.png) no-repeat 0 0 / 300% auto;
  height: 20px;
  width: 20px;
}

.lostark-pc .profile-equipment__slot .accessory_option .item_grade_high {
  background-position-x: 0%;
}

.lostark-pc .profile-equipment__slot .accessory_option .item_grade_medium {
  background-position-x: 50%;
}

.lostark-pc .profile-equipment__slot .accessory_option .item_grade_low {
  background-position-x: 100%;
}

.lostark-pc .profile-equipment__slot .bracelet .slot_img:before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_arkpassive3.png) no-repeat;
  background-size: 100%;
}

.lostark-pc .profile-equipment__slot .stone .slot_img:before {
  background: none;
}

.lostark-pc .profile-equipment__slot .stone .slot_img img {
  width: 64px;
  height: 64px;
  border: 2px solid gray;
}

.lostark-pc .profile-equipment__slot .orb .slot_img:before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_slot_orb_over.png) no-repeat;
  background-size: 100%;
}

.lostark-pc .profile-equipment__slot .orb .slot_img img {
  border-radius: 100%;
}

.lostark-pc .profile-avatar__slot {
  position: absolute;
  top: 100px;
  bottom: 180px;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.lostark-pc .profile-avatar__slot .slot_left {
  position: absolute;
  left: 40px;
  height: 100%;
  pointer-events: auto;
  justify-content: space-between;
}

.lostark-pc .profile-avatar__slot .slot_right {
  position: absolute;
  right: 40px;
  height: 100%;
  align-items: end;
  pointer-events: auto;
  justify-content: space-between;
}

.lostark-pc .profile-avatar__slot .slot_left > div {
  width: 110px;
  gap: 20px;
  align-items: start;
}

.lostark-pc .profile-avatar__slot .slot_right > div {
  width: 110px;
  gap: 20px;
  align-items: end;
}

.lostark-pc .profile-avatar__slot .slot_left > div > div {
  gap: 10px;
}

.lostark-pc .profile-avatar__slot .slot_right > div > div {
  gap: 10px;
  flex-direction: row-reverse;
}

.lostark-pc .profile-avatar__slot .slot_img {
  width: 50px;
  height: 50px;
  border: 2px solid gray;
}

.lostark-pc .profile-avatar__slot .slot_img img {
  width: auto;
  height: 100%;
}

.lostark-pc .gap-item {
  width: 100%;
  height: 100%;
  flex: 1;

  gap: 6px;
}

.lostark-pc .profile-info .profile-item {
  width: 100%;
  height: 40px;
  flex-shrink: 0;

  background: linear-gradient(to right, #1a1a1a, #1f272f, #1a1a1a);

  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #1a1a1a, #2f3f4f, #1a1a1a) 1;
}

.lostark-pc .profile-info .level-info {
  width: 100%;
  height: 100%;
  flex: 1;

  background: radial-gradient(circle at bottom center, rgba(160, 40, 60, 0.5) 0, #1a1a1a 50%);
  position: relative;
}

.top-space {
  height: 40px;
}

.bottom-space {
  height: 90px;
}

.diamond-glow {
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  border: 2px solid rosybrown;
  box-shadow: 0 0 20px rosybrown;
}

.class-icon {
  width: 100px;
  height: 100px;
  transform: rotate(-45deg);
}

.level-info-text {
  height: 30px;
  transform: rotate(0);
}

.lostark-pc .profile-info .guild {
  color: MediumAquamarine;
}

.lostark-pc .profile-info .game-info__wisdom {
  gap: 6px;
}

.level-info__expedition {
  width: 70px;
  height: 70px;

  position: absolute;
  left: 20px;
  bottom: 90px;
  align-items: end;
}

.lostark-pc .profile-info .special-info__slot {
  width: 100%;
  height: 80px;
  flex-shrink: 0;

  gap: 25px;
}

.lostark-pc .profile-info .special-info__slot .slot {
  width: 60px;
  height: 60px;
  position: relative;
}

.lostark-pc .profile-info .special-info__slot .slot_img {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_special_slot.png) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.lostark-pc .profile-info .special-info__slot .slot_img img {
  width: 50px;
  height: 50px;
}

.lostark-pc .profile-info .arkpassive__title {
  width: 100%;
  height: 40px;
  flex-shrink: 0;

  background: linear-gradient(to right, #1a1a1a 20%, #3f1f6f 50%, #1a1a1a 80%);
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #1a1a1a, #cfafff, #1a1a1a) 1;
}

.lostark-pc .profile-info .arkpassive__title:before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/ico_arkpassive.png) no-repeat 50% 50% / 100% auto;
  content: "";
  height: 20px;
  width: 20px;
}

.lostark-pc .profile-info .arkpassive__title .substitute {
  color: #ba94ff;
}

.lostark-pc .profile-info .arkpassive--info {
  width: 100%;
  height: 100px;
  flex-shrink: 0;
}

.lostark-pc .profile-info .arkpassive--info > div {
  width: 140px;
  height: 100px;
}

.lostark-pc .profile-info .arkpassive--info .point-info {
  width: 100%;
  height: 50px;
  align-items: end;
}

.lostark-pc .profile-info .arkpassive--info .stigma_info {
  width: 100%;
  height: 50px;

  gap: 6px;
}

.lostark-pc .profile-info .arkpassive--info .point {
  width: 96px;
  height: 36px;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/pc/profile/bg_arkpassive_point.png) no-repeat 0 0;
  background-size: 100%;
  padding-left: 20px;
}

.lostark-pc .profile-info .arkpassive--info .arkpassive_evolution .point {
  background-position-y: 0px;
  color: #f2d694;
}

.lostark-pc .profile-info .arkpassive--info .arkpassive_enlightenment .point {
  background-position-y: -36px;
  color: #83e9ff;
}

.lostark-pc .profile-info .arkpassive--info .arkpassive_leap .point {
  background-position-y: -72px;
  color: #c2ea55;
}

.lostark-pc .profile-info .button {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
}
