.lostark-pc .profile-info {
  width: 450px;
  height: 100%;

  padding-bottom: 20px;
}

.lostark-pc .profile-info .level-info {
  background: radial-gradient(circle at bottom center, #9339, #111 50%);
  padding: 50px 0;
  position: relative;
}

.lostark-pc .profile-info .level-info .class-img {
  height: 80px;
}

.lostark-pc .profile-info .level-info .class-img .diamond {
  width: 80px;
  height: 80px;

  border: 2px solid #c99;
  box-shadow: 0 0 20px #c99;
  transform: rotate(45deg);
}

.lostark-pc .profile-info .level-info .class-img .diamond img {
  width: 100px;
  height: 100px;

  transform: rotate(-45deg);
}

.lostark-pc .profile-info .level-info .class-name {
  transform: rotate(0);
}

.lostark-pc .profile-info .level-info .expedition-level-info {
  width: 80px;
  height: 80px;

  position: absolute;
  left: 20px;
  bottom: 50px;
}

.lostark-pc .profile-info .profile-item {
  background: linear-gradient(to right, #111, #234, #111);
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #16191d, #666, #16191d) 1;
}

.lostark-pc .profile-info .guild {
  color: #6ca;
}

.lostark-pc .profile-info .special-info-slot {
  height: 80px;

  background: #111;
  gap: 25px;
}

.lostark-pc .profile-info .special-info-slot .slot .slot-img {
  width: 60px;
  height: 60px;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_special_slot.png) no-repeat 0 0;
  background-size: 100%;
}

.lostark-pc .profile-info .special-info-slot .slot .slot-img img {
  width: 50px;
  height: 50px;
}

.lostark-pc .profile-info .arkpassive-info * {
  cursor: pointer;
}

.lostark-pc .profile-info .arkpassive-info .arkpassive-title {
  background: linear-gradient(to right, #111, #306, #111);
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #16191d, #c9f, #16191d) 1;
}

.lostark-pc .profile-info .arkpassive-info:hover .arkpassive-title {
  background: linear-gradient(to right, #222, #417, #222);
}

.lostark-pc .profile-info .arkpassive-info .arkpassive-title .arkpassive-img {
  width: 20px;
  height: 20px;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/ico_arkpassive.png) no-repeat 50% 50% / 100% auto;
}

.lostark-pc .profile-info .arkpassive-info .arkpassive-title .substitute {
  color: #c9f;
}

.lostark-pc .profile-info .arkpassive-info .arkpassive-point {
  background: #111;
  padding: 0 15px;
  padding-top: 18px;
}

.lostark-pc .profile-info .arkpassive-info:hover .arkpassive-point {
  background: #222;
}

.lostark-pc .profile-info .arkpassive-info .arkpassive-point .point {
  width: 92px;
  height: 32px;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/pc/profile/bg_arkpassive_point.png) no-repeat 0 0;
  background-size: 96px auto;
  background-position-x: -4px;
  border: 2px solid transparent;
  border-radius: 40px;
  cursor: pointer;
  padding-left: 20px;
  padding-bottom: 2px;
}

.lostark-pc .profile-info .arkpassive-info .arkpassive-point .point:hover {
  border: 2px solid #0cf;
}

.lostark-pc .profile-info .arkpassive-info .arkpassive-point .evolution .point {
  background-position-y: -4px;
  color: #f2d694;
}

.lostark-pc .profile-info .arkpassive-info .arkpassive-point .enlightenment .point {
  background-position-y: -40px;
  color: #83e9ff;
}

.lostark-pc .profile-info .arkpassive-info .arkpassive-point .leap .point {
  background-position-y: -76px;
  color: #c2ea55;
}

.lostark-pc .profile-equipment {
  width: 680px;
  height: 100%;

  position: relative;

  gap: 15px;
  padding-bottom: 20px;
}

.lostark-pc .profile-equipment .character-img {
  height: 630px;
}

.lostark-pc .profile-equipment .character-img img {
  width: auto;
  height: 100%;
}

.lostark-pc .profile-equipment .equipment-title {
  position: absolute;
  top: 10px;
  left: 0px;

  padding-left: 5px;
  padding-right: 15px;
  justify-content: space-between;
}

.lostark-pc .profile-equipment .equipment-title .preset-title {
  width: 300px;

  background: #0003;
  padding-left: 5px;
  justify-content: start;
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail {
  width: 100px;
  height: 36px;

  background: #234;
  border-radius: 40px;
  cursor: pointer;
  padding: 6px;
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail * {
  cursor: inherit;
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail.active .search-icon {
  stroke: gold;
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail .toggle-button {
  width: 52px;
  height: 24px;

  position: relative;

  border: 2px solid gray;
  border-radius: 40px;
  background: #111;
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail:hover .toggle-button {
  border: 2px solid white;
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail.active .toggle-button {
  border: 2px solid gold;
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail.active:hover .toggle-button {
  border: 2px solid cornsilk;
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail .toggle-button .toggle {
  width: 14px;
  height: 14px;

  position: absolute;
  left: 3px;

  background: gray;
  border-radius: 40px;
  transition: all 0.2s linear;
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail:hover .toggle-button .toggle {
  background: white;
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail:active .toggle-button .toggle {
  transform: translateX(28px);
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail.active .toggle-button .toggle {
  background: gold;
  transform: translateX(28px);
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail.active:hover .toggle-button .toggle {
  background: cornsilk;
}

.lostark-pc .profile-equipment .equipment-title .accessory-detail.active:active .toggle-button .toggle {
  transform: translateX(0px);
}

.lostark-pc .profile-equipment .equipment-tab {
  width: 350px;

  border: 2px solid gray;
  border-radius: 40px;
}

.lostark-pc .profile-equipment .equipment-tab > div {
  border-radius: 40px;
  cursor: pointer;
}

.lostark-pc .profile-equipment .equipment-tab > div:hover {
  background: linear-gradient(to bottom, #16191d, #2226, #3336, #9636);
}

.lostark-pc .profile-equipment .equipment-tab > div.active {
  background: linear-gradient(to bottom, #16191d, #222, #333, #963);
  color: white;
}

.lostark-pc .profile-equipment .honor-info {
  width: 350px;

  background: linear-gradient(to right, #16191d, #222, #234, #222, #16191d);
}

.lostark-pc .profile-equipment .honor-info .honor-grade {
  width: 40px;
  height: 40px;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/ico_honor_symbol.png);
  background-repeat: no-repeat;
  background-size: 500% auto;
}

.lostark-pc .profile-equipment .honor-info .honor-grade[data-honor-grade="1"] {
  background-position-y: 0;
}

.lostark-pc .profile-equipment .honor-info .honor-title {
  width: 40px;
}

.lostark-pc .profile-equipment .honor-info .honor-point {
  width: 30px;
}

.lostark-pc .profile-equipment .honor-info .honor-guide {
  width: 30px;
}

.lostark-pc .profile-equipment-slot {
  position: absolute;
  inset: 0;

  pointer-events: none;
}

.lostark-pc .profile-equipment-slot .slot-left {
  position: absolute;
  top: 50px;
  left: 30px;

  pointer-events: auto;
}

.lostark-pc .profile-equipment-slot .slot-right {
  position: absolute;
  top: 50px;
  right: 15px;

  align-items: end;
  pointer-events: auto;
}

.lostark-pc .profile-equipment-slot .slot {
  gap: 10px;
}

.lostark-pc .profile-equipment-slot .slot-right .slot {
  flex-direction: row-reverse;
  justify-content: end;
}

.lostark-pc .profile-equipment-slot .slot-img {
  width: 80px;
  height: 80px;

  position: relative;
}

.lostark-pc .profile-equipment-slot .slot-img:before {
  width: 80px;
  height: 80px;

  position: absolute;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_arkpassive.png) no-repeat;
  background-size: 100%;
  content: "";
}

.lostark-pc .profile-equipment-slot .slot-right .slot .accessory-option > div {
  width: 20px;
  height: 20px;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/ico_accessory_option.png) no-repeat 0 0 / 300% auto;
}

.lostark-pc .profile-equipment-slot .slot-right .slot .accessory-option .item_grade_high {
  background-position-x: 0%;
}

.lostark-pc .profile-equipment-slot .slot-right .slot .accessory-option .item_grade_medium {
  background-position-x: 50%;
}

.lostark-pc .profile-equipment-slot .slot-right .slot .accessory-option .item_grade_low {
  background-position-x: 100%;
}

.lostark-pc .profile-equipment-slot .slot-right .slot.bracelet .slot-img:before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_arkpassive3.png) no-repeat;
  background-size: 100%;
}

.lostark-pc .profile-equipment-slot .slot-right .slot.stone .slot-img:before {
  background: none;
}

.lostark-pc .profile-equipment-slot .slot-right .slot.stone .slot-img img {
  width: 64px;
  height: 64px;
  border: 2px solid gray;
}

.lostark-pc .profile-equipment-slot .slot-right .slot.orb .slot-img:before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_slot_orb_over.png) no-repeat;
  background-size: 100%;
}

.lostark-pc .profile-equipment-slot .slot-right .slot.orb .slot-img img {
  border-radius: 100%;
}

.lostark-pc .profile-avatar-slot {
  position: absolute;
  top: 110px;
  bottom: 210px;
  left: 0px;

  padding: 0 40px;
  pointer-events: none;
  justify-content: space-between;
}

.lostark-pc .profile-avatar-slot > div {
  height: 100%;

  pointer-events: auto;
  justify-content: space-between;
}

.lostark-pc .profile-avatar-slot > div > div {
  gap: 20px;
}

.lostark-pc .profile-avatar-slot .slot-box {
  gap: 10px;
  justify-content: start;
}

.lostark-pc .profile-avatar-slot .slot-right .slot-box {
  flex-direction: row-reverse;
  justify-content: end;
}

.lostark-pc .profile-avatar-slot .slot-img {
  width: 55px;
  height: 55px;

  border: 2px solid gray;
}

.lostark-pc .profile-avatar-slot .slot-img img {
  width: auto;
  height: 100%;
}

.lostark-pc .profile-ability {
  width: 250px;
  height: 100%;

  padding: 0 10px;
  padding-bottom: 20px;
}

.lostark-pc .profile-ability .ability-title {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #16191d, cornsilk, #16191d) 1;
}

.lostark-pc .profile-ability .ability-item {
  height: 45px;

  justify-content: space-between;
}

.lostark-pc .profile-ability .item-avg-level-box {
  padding-top: 5px;
}

.lostark-pc .profile-ability .item-avg-level-box .item-avg-level {
  height: 85px;

  background: radial-gradient(ellipse 500% 100%, #9cf, #06f3, #0000 10%), linear-gradient(to right, #16191d, #06f9, #16191d);
  background-position: center 8px, center;
  background-repeat: no-repeat;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #16191d, #9cf, #16191d) 1;
  font-size: 36px;
}

.lostark-pc .profile-ability .combat-power-box {
  background: radial-gradient(ellipse at center, #f63c, #f636, #16191d 80%);
  background-position: center 10px, center;
  background-repeat: no-repeat;
  padding-top: 5px;
}

.lostark-pc .profile-ability .combat-power-box .combat-power {
  height: 45px;

  background: radial-gradient(ellipse 500% 100%, #fc9, #f603, #0000 10%);
  background-repeat: no-repeat;
  font-size: 24px;
}

.lostark-pc .profile-ability .ability-box {
  padding: 20px 0;
}

.lostark-pc .profile-ability .ability-box .tendency-box {
  gap: 21px;
  padding-top: 19px;
}

.lostark-pc .profile-ability .ability-box .tendency-box .tendency {
  justify-content: space-between;
}

.lostark-pc .profile-ability .ability-box .tendency-box .tendency-img {
  width: 40px;
  height: 42px;

  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/pc/profile/img_profile_states.png) no-repeat;
  background-position-x: -6px;
}

.lostark-pc .profile-ability .ability-box .tendency-box .tendency-01 .tendency-img {
  background-position-y: 6px;
}

.lostark-pc .profile-ability .ability-box .tendency-box .tendency-02 .tendency-img {
  background-position-y: -36px;
}

.lostark-pc .profile-ability .ability-box .tendency-box .tendency-03 .tendency-img {
  background-position-y: -78px;
}

.lostark-pc .profile-ability .ability-box .tendency-box .tendency-04 .tendency-img {
  background-position-y: -120px;
}

.lostark-pc .profile-ability .ability-box .tendency-box .tendency .tendency-item {
  height: 30px;

  justify-content: space-between;
}

.lostark-pc .profile-ability .ability-box .tendency-box .tendency .tendency-graph {
  width: 180px;
  height: 12px;

  border: 2px solid gray;
  justify-content: start;
}

.lostark-pc .profile-ability .ability-box .tendency-box .tendency .tendency-graph .tendency-value {
  height: 100%;

  background: linear-gradient(to right, #0cf, #39f 30px);
}
