#div-profile {
  width: 450px;
  height: 100%;
  flex-shrink: 0;
}

#div-ability {
  width: 250px;
  height: 100%;
  flex-shrink: 0;
}

.preset {
  width: 100%;
  height: 60px;
  flex-shrink: 0;
}

.tab {
  width: 100%;
  height: 80px;
  padding: 20px 0;
  flex-shrink: 0;
}

.honor_info {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
}

.lostark-pc .honor_info .honor_grade:before {
  background-image: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/ico_honor_symbol.png);
  background-repeat: no-repeat;
  background-size: 500% auto;
  content: "";
  height: 36px;
  width: 36px;
}

.lostark-pc .honor_info .honor_grade[data-honor-grade="1"]:before {
  background-position: 0 0;
}

.lostark-pc .honor_info .honor_point {
  color: #ffd200;
  font-size: 15px;
}

.profile-equipment {
  position: relative;
}

.lostark-pc .profile-equipment__character {
  height: 100%;
  width: 100%;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.lostark-pc .profile-equipment__character > img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}

.lostark-pc .profile-equipment__character .honor_info .honor_grade {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-right: 6px;
}

.lostark-pc .profile-avatar__slot,
.lostark-pc .profile-equipment__slot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.lostark-pc .profile-equipment__slot .slot_left {
  position: absolute;
  top: 50px;
  left: 30px;
  flex-direction: column;
  pointer-events: auto;
}

.lostark-pc .profile-equipment__slot .slot_right {
  position: absolute;
  top: 50px;
  right: 30px;
  flex-direction: column;
  align-items: end;
  pointer-events: auto;
}

.lostark-pc .profile-equipment__slot .slot {
  box-sizing: border-box;
  display: flex;
  column-gap: 10px;
}

.lostark-pc .profile-equipment__slot .slot_right .slot {
  flex-direction: row-reverse;
}

.lostark-pc .profile-avatar__slot .slot_img,
.lostark-pc .profile-equipment__slot .slot_img {
  align-items: center;
  position: relative;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 80px;
}

.lostark-pc .profile-equipment__slot .slot_left .slot_img:not(:empty):before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_arkpassive.png) no-repeat;
  background-size: 100%;
  position: absolute;
  content: "";
  height: 80px;
  width: 80px;
}

.lostark-pc .profile-equipment__slot .slot_right .slot_img:not(:empty):before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_arkpassive2.png) no-repeat;
  background-size: 100%;
  position: absolute;
  content: "";
  height: 80px;
  width: 80px;
}

.lostark-pc .profile-avatar__slot div[data-grade="5"] img,
.lostark-pc .profile-equipment__slot div[data-grade="5"] img {
  background: linear-gradient(135deg, #341a09, #a24006);
}

.lostark-pc .profile-avatar__slot div[data-grade="6"] img,
.lostark-pc .profile-equipment__slot div[data-grade="6"] img {
  background: linear-gradient(135deg, #3d3325, #dcc999);
}

.lostark-pc .profile-equipment__slot .accessory_option {
  display: flex;
  flex-direction: column;
  font-size: 0;
  justify-content: center;
}

.lostark-pc .profile-equipment__slot .accessory_option span {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/ico_accessory_option.png) no-repeat 0 0 / 300% auto;
  height: 20px;
  width: 20px;
}

.lostark-pc .profile-equipment__slot .accessory_option .item_grade_high {
  background-position-x: 0%;
}

.lostark-pc .profile-equipment__slot .accessory_option .item_grade_medium {
  background-position-x: 50%;
}

.lostark-pc .profile-equipment__slot .accessory_option .item_grade_low {
  background-position-x: 100%;
}

.lostark-pc .profile-equipment__slot .slot12 .slot_img:not(:empty):before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_arkpassive3.png) no-repeat;
  background-size: 100%;
}

.lostark-pc .profile-equipment__slot .slot13 .slot_img:not(:empty):before {
  background: none;
}

.lostark-pc .profile-equipment__slot .slot17 .slot_img:not(:empty):before {
  background: url(https://cdn-lostark.game.onstove.com/2018/obt/assets/images/common/game/bg_equipment_slot_orb_over.png) no-repeat;
  background-size: 100%;
}
.lostark-pc .profile-equipment__slot .slot17 .slot_img img {
  border-radius: 100%;
}
