@charset "UTF-8";

@import "./equipment.css";

* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
  min-width: 0;
}

.column {
  flex-direction: column;
}

.full {
  width: 100%;
  height: 100%;
  flex: 1;
}

.lostark-pc {
  background: #16191d;
  width: 1420px;
  height: 920px;
  margin: auto;
  flex-direction: column;
}

#title {
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-bottom: 3px solid gold;
  font-size: 18px;
  flex-shrink: 0;
}

#profile-ability {
  padding: 0 20px 20px 20px;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

#ability-menu {
  height: 50px;
  line-height: 50px;
  gap: 6px;
  width: 100%;
}

#ability-menu a {
  height: 100%;
  flex: 1;
  border-bottom: 3px solid gray;
  color: #66686a;
  float: left;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

#ability-menu a:last-child {
  border: 0;
}
#ability-menu a.lui-tab__link--active {
  color: #fff;
}
