@charset "UTF-8";

@import "./equipment.css";

* {
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  margin: 0;
  border: 0;
  padding: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
  min-width: 0;
}

.column {
  flex-direction: column;
}

.full {
  width: 100%;
  height: 100%;
  flex: 1;
}

.lostark-pc {
  width: 1420px;
  height: 920px;

  background: #16191d;
  margin: auto;
}

.title {
  height: 50px;
  width: 100%;
  flex-shrink: 0;

  border-bottom: 3px solid gold;
}

.profile-tab {
  padding: 0 20px 20px 20px;
}

.menu {
  width: 100%;
  height: 50px;
  flex-shrink: 0;

  gap: 6px;
}

.menu > div {
  height: 100%;
  flex: 1;

  border-bottom: 3px solid gray;
  color: gray;
}

.menu > div:last-child {
  border: 0;
}

.menu > div.active {
  color: white;
  background: linear-gradient(to bottom, #1a1a1a 0%, #2d2a27 30%, #4a3a2a 60%, #cfaf6f 90%, #efcf8f 100%);
  border-bottom: 2px solid #ffdf9f;
}

.preset {
  width: 100%;
  height: 60px;
  flex-shrink: 0;
}
