@charset "UTF-8";

@import "./equipment.css";

* {
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  margin: 0;
  border: 0;
  padding: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
  min-width: 0;
}

.column {
  flex-direction: column;
  justify-content: start;
}

.column > div {
  width: 100%;
}

.full {
  height: 100%;
  flex: 1;
}

.height40 {
  height: 40px;
}

.height50 {
  height: 50px;
}

.gap6 {
  gap: 6px;
}

.gold {
  color: gold;
}

.gray {
  color: gray;
}

.cornsilk {
  color: cornsilk;
}

.lostark-pc {
  width: 1420px;
  height: 920px;

  margin: auto;
}

.title {
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid cornsilk;
}

.wrap {
  background: #16191d;
  padding: 0 20px;
}

.menu {
  border-bottom: 2px solid gray;
}

.menu:last-child {
  border: 0;
}

.menu.active {
  color: white;
  background: linear-gradient(to bottom, #1a1a1a 0%, #2d2a27 30%, #4a3a2a 60%, #cfaf6f 90%, #efcf8f 100%);
  border-bottom: 2px solid cornsilk;
}

.content {
  padding-top: 10px;
}

.lostark-pc div[data-grade="3"] .slot-img img {
  background: linear-gradient(135deg, #261331, #480d5d);
}

.lostark-pc div[data-grade="4"] .slot-img img {
  background: linear-gradient(135deg, #362003, #9e5f04);
}

.lostark-pc div[data-grade="5"] .slot-img img {
  background: linear-gradient(135deg, #341a09, #a24006);
}

.lostark-pc div[data-grade="6"] .slot-img img {
  background: linear-gradient(135deg, #3d3325, #dcc999);
}
